<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Tavleen</h1>
    <div>
        <form action ="/" method ="post">
            <input name="name" type ="text" placeholder="Enter your name"><br><br>
            <input name="email" type ="email" placeholder="Enter your email"><br><br>
            <!-- <input type ="number" placeholder="Enter your age"><br><br> -->
            <input name="dob" type ="date" placeholder="Enter your DOB"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>