<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Tavleen</h1>
    <div>
        <form action ="/" method ="post">
            <input name="name" type ="text" placeholder="Enter Your Name"><br><br>
            <input name="email" type ="email" placeholder="Enter Your Email"><br><br>
            <input name="dob" type ="date" placeholder="Enter Your DOB"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>